body {
  font-family: $serif-font;
  font-weight: 300;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1 0 auto;
  }
}

img {
  color: $primary-accent-color;
}
