<% if tags %>
    <footer  class="c-article__footer" itemprop="author" itemscope itemtype="https://schema.org/Person">
    Published under
    <% tags.each do |tag| %>
        <a class="c-article__tag e-link--dotted" href="/blog/<%= tag %>/">#<%= tag %></a>
        <% if tag == tags.last %>
        <% else %>
        ,
        <% end %>
    <% end %>
    </footer>
<% end %>
