<div class="o-table-cell c-branding">
  <a href="/" title="Go to Oprea.Rocks homepage" itemscope itemprop="brand" itemtype="https://schema.org/Brand">
    <img itemprop="logo" src="images/logo.png" alt="Oprea.Rocks logo" role="logo">
  </a>
</div>
