<div class="c-branding o-table-cell u-align-middle">
  <a href="/" title="Go to Oprea.Rocks homepage" itemscope itemprop="brand" itemtype="https://schema.org/Brand">
    <img itemprop="logo" src="/images/logo.svg" alt="Oprea.Rocks logo" role="logo">
  </a>
</div>
