<div class="c-cta-content u-full-width">
  <h1 class="c-cta-message"><%= campaign.headline %></h1>
  <p><%= campaign.message %></p>
  <form>
    <input type="email" name="email">
    <button type="submit">Join</button>
  </form>
</div>
