<div class="c-cta__content u-full-width">
  <h1 class="c-cta__message"><%= campaign.headline %></h1>
  <p><%= campaign.message %></p>
  <a class="o-link--bare c-cta__button" href="<%= campaign.link_to %>"><%= campaign.callout %></a>
</div>
