<header role="banner" class="c-header u-full-width">
  <%= partial "partials/navigation" %>
<div class="o-flexbox o-flexbox__aligned o-table u-full-width c-header__spaced">
    <%= partial "partials/brand" %>
    <%= partial "partials/menu_toggle" %>
  </div>
</header>
