<header role="banner" class="c-header u-full-width">
  <%= partial "partials/navigation" %>
  <div class="o-table u-full-width">
    <%= partial "partials/brand" %>
    <%= partial "partials/menu_toggle" %>
  </div>
</header>
