<header role="banner" class="c-header u-full-width">
  <div class="o-flexbox o-flexbox--aligned o-flexbox--center-content o-table u-full-width c-header--spaced">
      <%= partial "partials/brand" %>
      <%= partial "partials/menu_toggle" %>
  </div>
  <%= partial "partials/navigation" %>
</header>
