<section class="c-section c-cta c-cta--vignette" style="background-image: url('images/cta/<%= campaign.image %>');">
  <% if campaign.type == 'link' %>
    <%= partial "partials/cta_with_link", locals: { campaign: campaign } %>
  <% else %>
    <%= partial "partials/cta_with_form", locals: { campaign: campaign } %>
  <% end %>
</section>
