<section class="c-section c-cta c-cta--vignette">
  <img class="c-cta__image" src="/images/cta.jpg" alt="Full baner image">
  <% if campaign.type == 'link' %>
    <%= partial "partials/cta_with_link", locals: { campaign: campaign } %>
  <% else %>
    <%= partial "partials/cta_with_form", locals: { campaign: campaign } %>
  <% end %>
</section>
