<nav class="u-full-width">
  <ul id="mainMenu" class="o-list--bare c-main-menu-items">
    <li class="c-main-menu-item <%= is_page_active '/' %>"><a class="o-link--bare c-main-menu-item__link" href="/">Home.</a></li>
    <li class="c-main-menu-item <%= is_page_active '/team/' %>"><a class="o-link--bare c-main-menu-item__link" href="/team">Team.</a></li>
    <li class="c-main-menu-item <%= is_page_active '/blog/' %>"><a class="o-link--bare c-main-menu-item__link" href="/blog">Blog.</a></li>
    <li class="c-main-menu-item <%= is_page_active '/contact/' %>"><a class="o-link--bare c-main-menu-item__link" href="/contact">Contact.</a></li>
  </ul>
</nav>
