<section class="c-section c-section--narrow c-newsletter">
  <h2 data-drip-attribute="headline" class="c-cta__message-secondary">WANT FRESH CONTENT WEEKLY?</h2>
  <p data-drip-attribute="description" class="c-cta__message-secondary">Get useful articles, book recommendations and more, directly to your inbox. No spam, no 3rd party ads, just relevant content curated personally, by me.</p>
  <form data-drip-embedded-form="92273073" class="o-flexbox c-newsletter__form" method="post" action="https://www.getdrip.com/forms/92273073/submissions">
    <input type="email" name="fields[email]" class="c-newsletter__field" placeholder="Your email address">
    <button class="o-button--bare o-button c-newsletter__button" data-drip-attribute="sign-up-button">Join</button>
  </form>
</section>
