<section class="c-cta c-cta__secondary c-section c-cta--theme-light">
  <h2 class="c-cta__message-secondary">Subscribe to the newsletter</h2>
  <p class="c-cta__message-secondary">Get the latest and greatest!</p>
  <input type="text"> <a class="o-link--bare o-button" href="">Join!</a>
</section>
