<section class="c-cta c-cta__secondary c-section">
  <h2 class="c-section__heading c-cta__message">Have a project?</h2>
  <a class="o-link--bare c-cta__button" href="/contact">Request a quote &rarr;</a>
</section>
