<section class="c-section c-section-wrapper c-section-wrapper--narrow">
  <h2 class="c-section__heading">Why?</h2>

<p>I want to help you achieve the desired impact your target audience in the most positive way possible.
  I believe that impacting the lives of people can also be done through producs
  and businesses that we believe in! If you can convince me to believe in your project,
  then I will treat it like my own project and allocate my best energy to see that
  your project reaches its intended goals.</p>
</section>
