<section class="c-section c-section--narrow">
  <h2 class="c-section__heading">Why?</h2>

<p><strong class="u-text--extra-bold">I love technology!</strong>
I want to help you build and consolidate your online presence, through technology.
I will help you discover your most expensive software problems and we are going to tackle each
and every one of them. Technology should not be a mere afterthought,
it should be your main focus!</p>
</section>
