.c-branding {
    width: 200px;
    text-align: center;

    .logo-image {
        fill: $body-copy-color;
    }

    a:focus {
        outline: none;
        .logo-image {
            fill: $primary-accent-color;
        }
    }
}
