.c-cta {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;

  &--vignette {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      background: rgba(0,0,0,0.4)
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    // Empty
  }

  &__button {
    background: hotpink;
    display: inline-block;
    padding: $global-line-height;
  }

  &__button--icon {

  }

  &__form {

  }

  &__secondary {
  }

}
