.c-cta {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    background: rgba(0,0,0,0.4)
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    // Empty
  }

  &__action {
    // Empty
    &__button {

    }

    &__form {

    }
  }

  &-secondary {
    background-color: hotpink;
  }

}
