.c-featured-article {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-height: $component-min-height;
  max-height: $component-max-height;
  max-width: 30em;
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  margin: $global-padding / 2;
  padding: 0 $global-padding;

  @include bp-medium {
    flex-basis: 33%;
    width: 33%;
  }

  @include bp-large {
    flex-basis: 25%;
    width: 25%;
  }

  &__title {

  }

  &__subtitle {}

  &__more {}

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // Nasty IE hack
    font-family: 'object-fit: cover;';
  }

}
