.c-footer {

  .c-copyright {
    padding: 2 * $global-line-height;
    text-align: center;
  }

  .c-social-icons__icon {
    display: inline-block;
    width: 2 * $global-line-height;

    svg {
      transition: all .3s ease-in-out;
    }
    &:hover {
      svg {
        fill: white;
        background-color: $primary-accent-color;
      }
    }
  }

}
