.c-main-menu-items {
  padding: 2 * $global-line-height 0;
  font-family: $sans-serif-font;
  font-weight: 300;
  width: 100%;
  background-color: $body-copy-color;
  text-align: center;

  @include bp_medium {
    background: none;
    width: auto;
  }
}

.c-main-menu-item {
  color: white;
  position: relative;
  text-transform: uppercase;

  &--active,
  &:hover {
    color: $primary-accent-color;
  }

  @include bp_medium {
    display: inline-block;
    color: $body-copy-color;

    &--active,
    &:hover {
      color: $body-copy-color;
    }

    &--active::after {
      position: absolute;
      content: "";
      display: block;
      width: 18px;
      height: 2px;
      bottom: 0;
      left: 50%;
      margin-left: -9px;
      background-color: $primary-accent-color;
    }
  }
}

.c-main-menu-item__link {
  display: block;
  padding: $global-line-height / 2 $global-line-height ;
  color: inherit;
  letter-spacing: .2em;
}
