.c-main-menu-items {
  max-height: 0;
  overflow: hidden;
  background-color: #202B30;
  transition: max-height .3s ease-in-out;
}

.c-main-menu-item {
  width: 100%;
  text-align: center;
  color: $primary-accent-color;
  border-bottom: 1px solid #ccc;

  &--active &__link,
  &:hover &__link {
    text-decoration: underline;
  }
}

.c-main-menu-item__link {
  display: inline-block;
  width: 100%;
  padding: 20px;
  color: inherit;
  text-transform: lowercase;
}

.c-main-menu-items--visible {
  max-height: 500px;
}

.c-main-menu-toggle__wrapper {
  text-align: right;
}

.c-main-menu-toggle__button {
  border: 0;
  text-transform: lowercase;
  cursor: pointer;
  color: $primary-accent-color;

  &:focus {
    outline: 2px solid $primary-accent-color;
  }
}
