.c-newsletter {
    &__form {
        flex-direction: column;
        justify-content: space-between;
    }

    &__button {
        transition: all .2s ease-in-out;

        &:hover {
            background-color: $primary-accent-color;
            color: white;
        }
    }

    @include bp_medium {
        &__form {
            flex-direction: row;
        }

        &__field {
            width: 60%;
        }

    }
}
