.c-pagination {
  width: 100%;
  text-align: center;
  color: $primary-accent-color;
  font-weight: bold;
  font-family: $sans-serif-font;

  &__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    // margin: 0;
    padding: 0;
  }
}
