.c-section {
  line-height: $global-line-height;
  padding: 2 * $global-line-height $global-line-height;
  margin: 0 auto;

  // Elements
  &__heading {
    margin-bottom: 4 * $global-line-height;
    line-height: 2 * $global-line-height;
    text-align: center;
    font-size: 4.5em;
  }

  // Modifiers
  &--narrow {
    max-width: 48em;
  }
}
