.c-team-member-card {
  margin-bottom: 4 * $global-line-height;

  &__heading {
    margin-bottom: $global-line-height;
  }

  &:nth-child(even) {
    .c-team-member-card__image {
      float: left;
      margin: 0 $global-line-height/2 $global-line-height/2 0;

      @include bp-large2 {
        margin-left: -26%;
      }
    }
  }


  &:nth-child(odd) {
    .c-team-member-card__image {
      float: right;
      margin: 0 0 $global-line-height/2 $global-line-height/2;

      @include bp-large2 {
        margin-right: -26%;
      }
    }
  }

  &__image {
    max-width: 200px;
    height: 200px;
    background: tomato;
  }
}
