.e-form {
  flex-direction: column;
  justify-content: space-between;

  &__button {
      transition: all .2s ease-in-out;

      &:hover {
          background-color: $primary-accent-color;
          color: white;
      }
  }
}

.e-field {
    @extend .o-button;
    transition: border-color .2s ease-in-out;

    &:focus {
        outline: none;
        border-color: $primary-accent-color;
    }
}

