  .o-button {
    display: inline-block;
    padding: $global-line-height;
    margin: $global-line-height;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #ccc;
    color: inherit;
    font-family: $sans-serif-font;
    letter-spacing: .2em;
  }