.o-table {
  display: table;
}

.o-table-row {
  display: table-row;
}

.o-table-cell {
  display: table-cell;
}

.o-table-cell--reverse {
  direction: rtl;
}

.o-table-cell--full {
  @extend .o-table-cell;
  width: 100%;
}

.o-flexbox {
  display: flex;
  box-sizing: border-box;
}

.o-flexbox--aligned {
  justify-content: space-between;
}

.o-flexbox--wrap {
  flex-wrap: wrap;
  align-items: center;
}

.o--half-width {
  width: 50%;
  max-width: 50%;
}
