.o-flexbox {
  display: flex;
}

.o-flexbox__aligned {
  justify-content: space-between;
}

.o-flexbox__wrap {
  flex-wrap: wrap;
  align-items: center;
}

.o-half-width {
  width: 50%;
  max-width: 50%;
}

.o-table {
  display: table;
}

.o-table-row {
  display: table-row;
}

.o-table-cell {
  display: table-cell;
}

.o-table-cell-full {
  @extend .o-table-cell;
  width: 100%;
}
