@import '../utils/_mixins.scss';

.c-latestArticles {
  @include breakpoint(lg) {
    flex: 3;
    width: 70%;
  }
}

.c-sidebar {
  width: 100%;
  @include breakpoint(lg) {
    width: 30%;
    margin: 0 0 0 4rem;
    flex: 1;
  }

  &__section {
    border: 1px solid #ccc;
    margin-top: 3rem;
    padding: 0 1rem 1rem;
    img {
      max-width: 100%;
    }

    .c-section__heading {
      top: -1rem;
      background-color: black;
      color: white;
      display: inline-block;
      padding: .5rem 1rem;
      margin: 0;
      position: relative;
    }
  }
}
