@import '../utils/_theme.scss';

.article {
  &-title {
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }

  &-url {
    text-decoration: none;
    color: $color-dark;
    transition: all .2s ease-in-out;
  }

  &-meta {
    color: $color-light;

    a {
      color: $color-light;
      text-decoration: none;

      &:hover {
        color: $color-dark;
      }
    }
  }

  &-readmore,
  &-meta {
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
