@import '../utils/_theme.scss';

.article {
  margin-bottom: 3rem;
  h2 {
    font-size: 1.5rem;
  }
  &-title {
    color: $color-dark;
    font-size: 2rem;
    line-height: 2rem;
    // letter-spacing: 2px;
    font-style: normal;
    font-weight: bold;
    // text-transform: uppercase;
    margin-top: 0;
  }

  &-url {
    text-decoration: none;
    color: $color-dark;
    transition: all .2s ease-in-out;
  }

  &-meta {
    color: $color-light;

    a {
      color: $color-light;
      text-decoration: none;

      &:hover {
        color: $color-dark;
      }
    }
  }

  &-readmore,
  &-meta {
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &-content {
    img {
      width: 100% !important;
      // width: auto;
    }
  }
  &-image {
    width: 100% !important;
    // width: auto;
  }
}
