@import '../utils/_theme.scss';
@import '../utils/_mixins.scss';

.recommendations {
  .section-title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.page .recommendation {
  text-align: center;
}

.sidebar .recommendation {
  text-align: left;
}
.recommendation {
  text-align: center;
  .article-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;

    a {
      color: $color-dark;
      text-decoration: none;
    }
  }

  .article-meta {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .article-image {
    width: 6.25rem;
    height: 6.25rem;
    float: left;
    margin-right: 1rem;
  }

  .article-footer {
    margin-bottom: 1rem;
  }

  &-link {
    transition: color .2s ease-in-out;
    color: $color-light;
    text-decoration: none;
    &:hover {
      color: $color-accent;
    }
  }

  h1 {
    margin-top: 0;
    line-height: 1;
  }

  &-image {
    text-align: center;
  }

  @include breakpoint(md) {
    text-align: left;
    &-image {
      float: left;
    }

    &-title {
      margin-left: 11.25rem;
    }
  }
}
