.c-recommendation {
  width: 100%;
  header {
    a {
      text-decoration: none;
      color: #202B30;
    }
  }

  &__kind {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #585858;
  }
}
