@import '../utils/_theme.scss';

.sidebar {
  &-section {
    margin-bottom: 2rem;
    .section-title {
      font-weight: bold;
      color: $color-dark;
      position: relative;
      font-size: 1.125rem;
      line-height: 1.875rem;
      letter-spacing: 2px;
      font-style: normal;
      // font-weight: normal;
      text-transform: uppercase;
    }
  }
}
