// Clearfix
//------------------------------------------------------------------------------

// Use with @extend %clearfix;
%clearfix {
  &:after {
    clear: both;
    content: "";
    flex-basis: 0;
    order: 1;
    display: table;
  }
}
