.u-full-width {
  width: 100% !important;
}

.u-swap-order {
  display: flex !important;

  & > :first-child {
    order: 2 !important;
  }

  & > :last-child {
    order: 1 !important;
  }
}

.u-text-center {
  text-align: center !important;
}

.u-align-middle {
  vertical-align: middle;
}

.u-fullBleed {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  max-height: 400px;
}