.u-full-width {
  width: 100% !important;
}

.u-swap-order {
  display: flex !important;

  & > :first-child {
    order: 2 !important;
  }

  & > :last-child {
    order: 1 !important;
  }
}

.u-text-center {
  text-align: center !important;
}

.u-align-middle {
  vertical-align: middle;
}