$nav-height: 110px;
$global-line-height: 1.5rem;
$component-min-height: 300px;
$component-max-height: 500px;
$serif-font: 'Merriweather', 'Playfair Display', Georgia, serif;
$sans-serif-font: 'Montserrat', Helvetica, sans-serif;
