@import '../utils/_mixins.scss';

.c-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  &__logo-tagLine {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    display: block;
    color: #585858;
    font-weight: normal;
    line-height: 2rem;
  }

  &__navList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @include breakpoint(lg) {
      flex-direction: row;
      width: 1080px;
      justify-content: space-around;
      margin: 0 auto;
      padding: 1rem 0;
    }

    a {
      display: inline-block;
      padding: .5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #585858;
    }
  }
}
