@import '../utils/_mixins.scss';

body {
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #202B30;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #202B30;
}

.c-section {
  &__heading {
    color: #585858;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
  }
}

.c-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include breakpoint(lg) {
    flex-direction: row;
    width: 1080px;
  }
}

