---
title: Oprea.Rocks - Have an expensive problem? A daring new idea? Let's work together!
---

<main>
<section class="c-section c-contact c-section--narrow">
  <h1 class="c-section__heading c-section__heading--large">
    Contact me
  </h1>
  <form id="contactForm" class="o-flexbox e-form" method="post" action="thank-you" netlify>
    <input type="text" name="fullName" class="e-field" placeholder="Your full name">
    <input type="email" name="email" class="e-field" placeholder="Your email address">
    <textarea name="message" class="e-field" rows="6" placeholder="Your message"></textarea>
    <button class="o-button--bare o-button e-form__button">Send</button>
  </form>
</section>
</main>
