---
title: oprea.rocks - Improve your team's productivity making the right technical choices
---

<main>
<section class="c-section c-contact">
  <h1 class="c-section__heading c-section__heading--large">
    <a class="e-link--dotted" href="mailto:adrian@oprea.rocks">adrian@oprea.rocks</a>
  </h1>
</section>
</main>
