---
title: Oprea.Rocks - Have an expensive problem? A daring new idea? Let's work together!
---

<main>
<section class="c-section c-contact">
  <h1 class="c-section__heading c-section__heading--large">
    <a class="e-link--dotted" href="mailto:adrian@oprea.rocks">adrian@oprea.rocks</a>
  </h1>
</section>
</main>
