---
title: oprea.rocks - Improve your team's productivity making the right technical choices
---

<main>
  <%= partial "partials/main_call_to_action",
    locals: {
      campaign: data.homepage.campaign
    }
  %>
  <%= partial "partials/why" %>
  <%= partial "partials/the_team" %>
  <%= partial "partials/featured_articles",
    locals: {
      articles: data.blog.articles
    }
  %>
</main>
