---
title: Oprea.Rocks - Adrian Oprea, software development consultant
---

<main>
  <%= partial "partials/main_call_to_action",
    locals: {
      campaign: data.campaigns.home.main
    }
  %>
  <%= partial "partials/why" %>
  <%= partial "partials/the_team" %>
  <%= partial "partials/featured_articles",
    locals: {
      articles: blog.articles
    }
  %>
</main>
