---
title: Oprea.Rocks - Have an expensive problem? A daring new idea? Let's work together!
---

<main>
<meta http-equiv="refresh" content="5;URL=/">
<section class="c-section c-section--narrow c-contact">
  <h1 class="c-section__heading c-section__heading--large">
    Thank you for getting in touch!
  </h1>
  <p>Your message has been sent. I will personally review it and reply.<br>
  You will be redirected to <a href="/" title="Go to the homepage">the homepage in 5 seconds</a></p>

</section>
</main>
